<!DOCTYPE html>
<html>
<head>
    <title>Select Subject</title>
</head>
<body>
    <h2>Select Subject</h2>

    <form method="POST">
        {% csrf_token %}
        
        <select name="subject">
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>

        <input type ="number" name="num_short" placeholder="Number of short questions" required>

        <br><br>

        <input type ="number" name="num_long" placeholder="Number of long questions">
        <button type="submit">Generate Paper</button>   
    </form>
</body>
</html>